:root{
    --text-color: #FFFFFF;
    --button-color: #008080; 
    --hover-color: #e0a800;
}

.survey {
    color: var(--text-color)
}

/* intro */

.intro {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: var(--text-color);
}

.intro label {
    font-size: 1em;
    text-align: center;  
    padding: 5px;
}

input::placeholder{
    color: white;
}

.intro label input {
    padding: 5px;
}

.intro input {
    outline: none;
    border: none;
    background-color: var(--button-color);
    border-radius: 12px;
    padding: 6px;
    font-size: 12px;
    color: var(--text-color);
    width: 100%;
}

/* styles that affects all questions */

.question {
    margin: 25px 0px;
    color: var(--text-color);
}

.container-question {
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* First question */    

.radio-option label {
    display: flex;
    font-weight: lighter;
    width: 400px;
    justify-content: baseline;
    align-content: end;
    color: var(--text-color);
}

.radio-option input {
    width: 15px;
   
}

.radio-option {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;  
}

/* Second Question */

.container-question button {
    margin: 10px 20px;
    padding: 7px 20px;
    font-size: 16px;
    border: none;
    background-color: var(--button-color);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 1s ease;
    color: black;
}

.container-question button.selected {
 background-color: var(--hover-color);
 color: #fff;
    
}


/* Third Question */


.container-question select {
    appearance: none; /* Hide the default arrow */
    background-color: var(--button-color); /* Set background color */
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px; /* Add border radius */
    padding: 10px; /* Add padding */
    width: 100%; /* Set width */
    font-size: 16px; /* Set font size */
    cursor: pointer; 
}

.container-question:focus {
    outline: none; /* Remove focus outline */
    color: var(--hover-color);
}

.container-question::placeholder {
    color: #999;
    font-style: italic;

 .container-question select-option {
 padding: 10px;
}

}
.container-question option[selected] {
    background-color: #e0a800;
}