:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* header */
.header-container {
background-color: rgba(0, 0, 0, .4);
padding: 50px;
margin-top: 50px;
margin-bottom: 20px;
height: 300px;
border: 10px;
min-width: 500px;
color: #008080;
}

p {
  margin-top: 20px;
  color: #FFFFFF;
}

.survey-adhd {
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 500px;
  margin: auto;
}